/* Estilos globais para o Bayala */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #dbe8fa;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

header img {
  height: 50px;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  padding: 20px;
}

nav {
  background-color: #f32b2b;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo-container {
  flex-shrink: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}